html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
ul {
  list-style-type: none;
}

li {
  text-align: center;
  margin-bottom: 5px;
  padding: 8px;
}

.btn {
  border-radius: 10px;
}

.bg-red {
  background-color: rgb(226, 69, 69);
}
.bg-pink{
  background-color: rgb(201, 114, 193);
}

.bg-blue{
  background-color: rgb(100, 100, 236);
}

.bg-cyan{
  background-color: rgb(107, 235, 235);
}

.bg-yellow{
  background-color: rgb(240, 240, 98);
}

.bg-green {
  background-color: rgb(109, 231, 109);
}

.bg-grey {
  background-color: rgb(194, 194, 194);
}